body {
  margin: 0;
  background-color: #1d225c;
}

*, *::before, *::after {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

.splash-container {
  display: flex;
  height: 66vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.splash-title {
  font-family: 'Bangers', cursive;
  font-size: 10rem;
}

.btn {
  background-color: hsl(30, 100%, 50%);
  padding: .5em 1em;
  outline: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  border-radius: .2em;
  color: #333;
}

.btn:hover, .btn:focus {
  background-color: hsl(30, 100%, 40%);
}

.splash-btn {
  margin-left: 2rem;
  font-size: 2rem;
}

.splash-btn:first-child {
  margin-left: 0;
}




.title {
  font-family: 'Bangers', cursive;
  font-size: 6rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

h4 {
  color: white;
  font-size: 20px;
}

.boards-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1em;
}

.p1-board {
  margin: 2vmin;
}

.p2-board { 
  margin: 2vmin;
}

.grid {
  display: grid;
  grid-template-rows: repeat(10, 4.6vmin);
  grid-template-columns: repeat(10, 4.6vmin);
  flex-wrap: wrap;
  background-color: hsl(200, 100%, 50%);
  border: 6px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(-45deg, #00d9ff, rgb(103, 158, 110));
}

.p2-grid {
  border-image-source: linear-gradient(-45deg, rgb(209, 70, 6), rgb(184, 166, 65));
}

.grid-cell {
  position: relative;
  border: 1px solid hsl(0, 0%, 100%, .2);
}

.fleet-container {
  padding-top: 6rem;
}

.ship {
  display: flex;
  max-width: max-content;
}

.vertical {
  flex-direction: column;
}

.horizontal-head,
.horizontal.head,
.horizontal.head::before {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.horizontal-tail,
.horizontal.tail,
.horizontal.tail::before {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.vertical-head,
.vertical.head,
.vertical.head::before {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.vertical-tail,
.vertical.tail,
.vertical.tail::before {
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.grid-cell.vertical::before,
.grid-cell.horizontal::before {
  content: '';
  position: absolute;
  border: .3vmin solid white;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
}

.grid-cell.horizontal::before {
  border-left: none;
  border-right: none;
}

.grid-cell.vertical::before {
  border-top: none;
  border-bottom: none;
}

.fleet-container .carrier, 
.fleet-container .battleship,
.fleet-container .cruiser,
.fleet-container .submarine,
.fleet-container .destroyer {
  width: 40px;
  height: 40px;
}

.carrier {
  background-color: purple;
}

.battleship {
  background-color: rgb(128, 128, 71);
}

.cruiser {
  background-color: yellowgreen;
}

.submarine {
  background-color: rgb(223, 213, 79);
}

.destroyer {
  background-color: rgb(91, 50, 205);
}

.miss {
  background-color: gray;
}

.hit {
  background-color: red;
}





.interface-container {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.fleet-container {
  display: flex;
  width: 200px;
  justify-content: center;
  gap: 1em;
  flex-wrap: wrap;
}

.hidden {
  display: none;
  width: 0;
}